<div>
  <h2>Welcome</h2>


  <section>
    <h3>Our companies</h3>

    <div>
      <div class="card-container">
          <div class="card" *ngFor="let card of company">
            <h4>{{ card.id }}</h4>
            <p>{{ card.name }}</p>
          </div>
      </div>
    </div>
  </section>

  <section>
    <h3>Equipment</h3>
    <input type="text" [(ngModel)]="searchEquipment" placeholder="Search Text Blocks"/>

    <div>
      <div class="card-container ">
        <div class="equip" *ngFor="let card of equipment">
          <h4>{{ card.id }}</h4>
          <p>{{ card.name }}</p>
          <p>{{ card.company.name }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
