<router-outlet></router-outlet>
<app-navbar></app-navbar>
<div class="form-container">
  <div class="logo-container">
    Welcome Back!
  </div>

  <div class="line"></div>
  <form class="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input required="" placeholder="Enter your username" name="username" id="username" [(ngModel)]="username" type="text">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input required="" name="password" placeholder="Enter your password" id="password"  [(ngModel)]="password" type="password">
    </div>

    <button type="submit" class="form-submit-btn" (click) = 'Login()'>Sign In</button>
  </form>
</div>
<app-footer></app-footer>
