<header>
  <nav>
    <div class="logo">Petkovic hospital</div>
    <ul>
      <li class="shrink" *ngIf="isLoggedEmployee()">
        <a
          (click)="AppointmentsPatient()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">My appointments</a>
      </li>
      <li class="shrink" *ngIf="isLoggedCompanyAdmin()">
        <a
          (click)="AppointmentsDoctor()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">My appointments</a>
      </li>
      <li class="shrink" *ngIf="isLoggedSystemAdmin()">
        <a
          (click)="Patients()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >All Patients</a
        >
      </li>
    </ul>
    <button (click)="onToggle()"> toggle</button>

    <div [ngClass]="isToggled ? 'open-menu ' : 'sub-menu-wrap'">
      <div class="sub-menu">
        <div class="user-info">
          <h2>{{ name }}</h2>
        </div>
        <hr/>
        <a (click)="onLogout()" href="#" class="sub-menu-link red">
          <p>Logout</p>
          <span>></span>
        </a>
      </div>
    </div>
  </nav>
</header>
