<header>
  <nav>
    <div class="logo">Petkovic hospital</div>
    <ul>
      <li class="shrink" *ngIf="isLoggedPatient()" >
        <a
          (click)="AppointmentsPatient()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">My appointments</a>
      </li>
      <li class="shrink" *ngIf="isLoggedDoctor()" >
        <a
          (click)="AppointmentsDoctor()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">My appointments</a>
      </li>
      <li class="shrink" *ngIf="isLoggedPatient()">
        <a
          (click)="MedicalDataPatient()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Medical data</a>
      </li>
      <li class="shrink" *ngIf="isLoggedPatient()">
        <a
          (click)="NewAppointment()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">New appointment</a>
      </li>
      <li class="shrink" *ngIf="isLoggedDoctor()">
        <a
          (click)="NewBlog()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >New blog</a
        >
      </li>
      <li class="shrink" *ngIf="isLoggedAdmin()">
        <a
          (click)="Patients()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >All Patients</a
        >
      </li>
      <li class="shrink" *ngIf="isLoggedAdmin()">
        <a
          (click)="News()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">News</a>
      </li>
    </ul>
    <button (click)="onToggle()"> toggle  </button>

    <div [ngClass]="isToggled ? 'open-menu ' : 'sub-menu-wrap'">
      <div class="sub-menu">
        <div class="user-info">
          <h2>{{ name }}</h2>
        </div>
        <hr />
        <a routerLink="/profile" (click)="profile()" class="sub-menu-link" [ngClass]="token == ''? {'display':'block'} : {'display':'none'}">
          <p>My Profile</p>
          <span>></span>
        </a>
        <a (click)="onLogout()" href="#" class="sub-menu-link red">
          <p>Logout</p>
          <span>></span>
        </a>
      </div>
    </div>
  </nav>
</header>
