<app-navbar></app-navbar>
<div style=" font-size: 16px; color: #0759B9EF; font-family: Arial, sans-serif;">
  Welcome back {{firstName}} {{lastName}} !!
</div>
<div *ngIf="role == 0" style=" font-size: 16px; color: #0759B9EF; font-family: Arial, sans-serif;">
  Your cancel count {{penaltyCount}} !!
</div>
<div *ngIf="role == 1" style=" font-size: 16px; color: #0759B9EF; font-family: Arial, sans-serif;">
  Add more appointments for your Company by clicking on Create new in navigation bar !!
</div>
<app-footer></app-footer>
