<div class="container">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput [(ngModel)]="firstName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput [(ngModel)]="lastName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <div class="row">
        <input matInput [(ngModel)]="password"
               [type]="passwordFieldType">
        <button mat-icon-button (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Confirm password</mat-label>
      <div class="row">
        <input matInput [(ngModel)]="confirmPassword" [type]="passwordFieldType">
        <button mat-icon-button (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <div *ngIf="passwordsDoNotMatch">
      <mat-error>Passwords do not match.</mat-error>
    </div>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="role"  *ngIf="!systemAdminLoggedIn">
        <mat-option  *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
      </mat-select>
      <mat-select [(ngModel)]="role"  *ngIf="systemAdminLoggedIn">
        <mat-option *ngFor="let role of rolesWhenSystemAdmin" [value]="role.id">{{ role.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput [(ngModel)]="city">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput [(ngModel)]="country">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Job description</mat-label>
      <input matInput [(ngModel)]="job">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput [(ngModel)]="phoneNumber">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Company ID</mat-label>
      <input matInput [(ngModel)]="companyId">
    </mat-form-field>
    <br>
    <button mat-stroked-button (click)="register()">
      Register
    </button>
    <button mat-stroked-button (click)="login()">
      Log in
    </button>
  </div>
</div>
