<app-navbar></app-navbar>
<div class="container">
  <div class="table-header">
    <p class="table-title">All patients</p>
  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> First name </th>
      <td mat-cell *matCellDef="let patient" class="clickable cell-center" >{{patient.name}}</td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Last name </th>
      <td mat-cell *matCellDef="let patient" class="cell-center">{{patient.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Email </th>
      <td mat-cell *matCellDef="let patient" class="cell-center">{{patient.email}}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Username</th>
      <td mat-cell *matCellDef="let patient" class="cell-center">{{patient.username}}</td>
    </ng-container>

    <ng-container matColumnDef="blocked">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Blocked?</th>
      <td mat-cell *matCellDef="let patient" class="cell-center">

       <ng-container *ngIf="!patient.blocked">

         <button mat-icon-button (click)="block(patient.id)">
           <mat-icon matTooltip="block">close</mat-icon>
         </button>

       </ng-container>
        <ng-container *ngIf="patient.blocked">
        <button mat-icon-button (click)="unblock(patient.id)">
           <mat-icon matTooltip="unblock">check</mat-icon>
         </button>
       </ng-container>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
