
.mat-stroked-button {
  color: #382110;
}

div {
  width: 40%;
  margin: auto;
}

mat-form-field {
  width: 100%;
  margin: auto;
}

.mat-stroked-button {
  color: #005d5d;
}

.price {

  color: #261867;
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;

}

div {
  width: 50%;
  margin: auto;
}

mat-form-field {
  width: 100%;
  margin: auto;
  font-family: "Times New Roman";


}

.container {

  margin-top: 100px;
  margin-bottom: 200px;
}

.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  background-color: white;
}

table {
  width: 100%;
}

.table-title {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;

}

.cell-center {
  text-align: center;
}

.clickable:hover {
  font-weight: bold;
  cursor: pointer;
}

.add-button {
  margin: 10px 20px 10px 10px;
  color: black;
  background-color: #edece5;
  float: right;
}

.table-header {
  display: flex;
}

p {
  float: left;
  margin-right: auto;
}
