<app-navbar></app-navbar>
<div class="container">

  <mat-form-field appearance="fill">
    <mat-label>Equipment</mat-label>
    <input matInput [(ngModel)]="equipment.name" [disabled]="true">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Quantity</mat-label>
    <input matInput [(ngModel)]="quantity" [disabled]="true">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Termin</mat-label>
    <mat-select [(ngModel)]="priority">
      <mat-option *ngFor="let term of termin" [value]="term.name">{{ term.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <button class="cta" (click)="Generate()">
    <span class="hover-underline-animation">BOOK</span>
    <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
      <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
            data-name="Path 10" id="Path_10"></path>
    </svg>
  </button>
</div>
