<app-navbar></app-navbar>
<div class="container">

  <mat-form-field appearance="fill">
    <mat-label>Patient</mat-label>
    <input matInput [(ngModel)]="patient" [disabled]="true">
  </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Doctors</mat-label>
    <mat-select [(ngModel)]="doctor">
      <mat-option *ngFor="let doc of doctors" [value]="doc.id">{{ doc.name }}</mat-option>
    </mat-select>
  </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="priority">
      <mat-option *ngFor="let doc of priorities" [value]="doc.id">{{ doc.name }}</mat-option>
    </mat-select>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Start date</mat-label>
    <input matInput
           #resultPickerModel="ngModel"
           [min] = "minDate"
           [matDatepicker]="resultPicker"
           [(ngModel)]="startDate"
           [matDatepickerFilter]="dateFilters">
    <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
    <mat-datepicker #resultPicker>
    </mat-datepicker>
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>End date</mat-label>
    <input matInput
           #resultPickerModel="ngModel"
           [matDatepicker]="resultPickers"
           [min] = "minDate"
           [(ngModel)]="endDate"
           [matDatepickerFilter]="dateFilters">
    <mat-datepicker-toggle matSuffix [for]="resultPickers"></mat-datepicker-toggle>
    <mat-datepicker #resultPickers>
    </mat-datepicker>
  </mat-form-field><br>
  <button class="cta" (click)="Generate()">
    <span class="hover-underline-animation">GENERATE</span>
    <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
      <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
    </svg>
  </button>
</div>

<div class="container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Date & time </th>
      <td mat-cell *matCellDef="let dateTime" class="clickable cell-center" (click)="chooseTime(dateTime.valueOf())">{{dateTime}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
